body { background: black; }

a:link, a:visited { color: #cff09e; text-decoration: none; }
a:link:hover, a:visited:hover { text-decoration: underline; }

.stealthLink { color: #dedede !important; }

.group:before, .group:after { content: ""; display: table; }

.group:after { clear: both; }

.group { zoom: 1; }

#photosContainer { margin: 0 auto; }
#photosContainer ul.disabled { pointer-events: none; }

.italic { font-style: italic; }

.bold { font-weight: bold; }

h1, h2, h3, h4 { font-family: "Lato", sans-serif; font-weight: 300; }

.headerText, header, header a, #credits, #tagLimit, #noTagsFound { color: #dedede; text-shadow: 0px 1px 1px black; font-size: 23px; letter-spacing: 2px; word-spacing: 9px; }

header { text-align: center; margin: 0 auto 11px; position: relative; width: 90%; padding: 7px 2px 14px; }
header a:hover { color: white; }

.opacityZero { opacity: 0; }

#credits { -moz-transition: opacity 1000ms; -webkit-transition: opacity 1000ms; -o-transition: opacity 1000ms; -ms-transition: opacity 1000ms; transition: opacity 1000ms; text-align: center; font-size: 1em; padding-bottom: 20px; margin-top: 130px; }
#credits span { color: #4f4f4f; }

.photo { width: 77px; margin: 10px; float: left; list-style: none; text-align: center; }
.photo img { border: 1px solid rgba(255, 255, 255, 0.2); box-shadow: 0 0 7px rgba(255, 255, 255, 0.24); }
.photo img:hover { opacity: 0.78 !important; -moz-transition: opacity 250ms; -webkit-transition: opacity 250ms; -o-transition: opacity 250ms; -ms-transition: opacity 250ms; transition: opacity 250ms; }

.photoTitle { text-shadow: -1px -1px 8px black; font-style: italic; font-weight: bold; font-size: 19px; line-height: 1.2em; }

.tag { margin-right: 4px; }

.ui-tooltip-content { padding: 8px; width: 250px; font-size: 14px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8); background: rgba(0, 0, 0, 0.88) !important; color: white !important; border: 1px solid rgba(255, 255, 255, 0.61) !important; font-family: Futura, Helvetica, arial; }
.ui-tooltip-content p { line-height: 1.4em; margin: 8px 0; }
.ui-tooltip-content a:link, .ui-tooltip-content a:visited { color: #cff09e; }
.ui-tooltip-content a:hover { color: #bf9ef0; }
.ui-tooltip-content .authorName:link, .ui-tooltip-content .authorName:visited { color: #aee65c; }
.ui-tooltip-content .authorName:hover { color: #bf9ef0; }

.tags { border-top: 1px solid #222222; padding-top: 18px; }

.date { color: #aaaaaa; }

.flickrTip { background: #222222; border-color: #3c3c3c; box-shadow: 0 3px 17px rgba(0, 0, 0, 0.7); }
.flickrTip span { padding: 20px 7px; display: inline-block; }

.statickContainer { position: absolute; top: 0; left: 0; z-index: 10; pointer-events: none; }

.relative { position: relative; }

#searchArea input { padding: 5px 7px; background: #111111; border: 1px solid #525252; color: #eeeeee; font-weight: 300; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
#searchArea input:hover { background: #1b1b1b; -moz-transition: background 260ms; -webkit-transition: background 260ms; -o-transition: background 260ms; -ms-transition: background 260ms; transition: background 260ms; }

#tagLimit, #noTagsFound { width: 65%; margin: 86px auto 40px; text-align: center; padding: 14px 18px; font-size: 18px; line-height: 1.3em; }
#tagLimit p, #tagLimit ul, #noTagsFound p, #noTagsFound ul { text-align: left; }
#tagLimit p, #noTagsFound p { font-size: 86%; word-spacing: 0px; }
#tagLimit h3, #tagLimit h4, #noTagsFound h3, #noTagsFound h4 { margin-bottom: 50px; }

#tagLimit p { text-align: center; margin: 0; }

#backToMine { position: relative; float: left; font-size: 14px; top: 8px; left: 10px; word-spacing: 0; }
#backToMine:hover { cursor: pointer; }

.suggestionTags { list-style: none; line-height: 1.8em; }
.suggestionTags .suggestionTag { float: left; margin-right: 15px; }
.suggestionTags .suggestionTag:after { content: " | "; }
.suggestionTags .suggestionTag:last-child:after { content: none; }
.suggestionTags .suggestionTag:hover { cursor: pointer; color: #fcfcfc; }

.ppt { text-align: center; text-shadow: 0 0 1px rgba(0, 0, 0, 0.1); font-size: 19px; }

#seeSimilarTags .title { margin-top: 46px; margin-bottom: -9px; text-align: left; font-weight: normal; }
#seeSimilarTags .suggestionTag { color: #cff09e; }

.addToFavorites { display: none; }

.moreButtonWrapper { margin: 40px auto 10px; }
