@import "mixins"

$link: #CFF09E
$headerText: #cfcfcf
$nearBlack: #222
$standardSpacing: 12px

body
  background: black

a:link, 
a:visited
  color: $link
  text-decoration: none

.stealthLink
  color: $headerText !important

.offLeft
  position: absolute
  left: -10000px
  top: 0
    
// ~~~ clearfix
.group:before,
.group:after
  content: ""
  display: table

.group:after
  clear: both

.group 
  zoom: 1 /* For IE 6/7 (trigger hasLayout) */
// ~~~
// end clearfix

#flickrFaves
  margin: 0 auto
  ul.disabled
    pointer-events: none

.italic
  font-style: italic

.bold
  font-weight: bold

.headerText
  color: $headerText
  font-family: "Lucida Grande", Helvetica, arial, sans-serif
  text-shadow: 0px 1px 1px black
  font-size: 23px
  letter-spacing: 2px
  word-spacing: 9px
  text-decoration: none

header
  @extend .headerText
  text-align: center
  margin: 0 auto 11px
  position: relative
  width: 90%
  @include background_gradient( rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.05))
  padding: 7px 2px 14px
  @include borderRadius(1px)
  border-width: 0 1px 1px 1px
  border-color: #2a2a2a
  border-style: solid
  a
    @extend .headerText
    &:hover
      text-decoration: underline
      color: white

#credits
  display: none
  @extend .headerText
  text-align: center
  font-size: 1em
  padding-bottom: 20px
  margin-top: 130px
  span
    color: darken($headerText, 56%)

.photo 
  width: 238px
  margin: 10px
  float: left
  list-style: none
  text-align: center
  
  img
    border: 1px solid rgba(255,255,255,0.2)
    box-shadow: 0 0 7px rgba(255,255,255,0.24)

    &:hover
      opacity: 0.78 !important
      @include css3(transition, opacity 250ms)

#moreButton
  opacity: 0
  $gray: #ccc
  $darkenAmount: 20%
  font-family: "Lucida Grande", Helvetica, arial, sans-serif
  
  @include background_gradient( $gray, darken($gray, $darkenAmount))
  
  padding: 9px $standardSpacing
  color: black
  width: 260px
  margin: 84px auto 46px
  cursor: pointer
  font-size: 28px
  text-align: center
  text-transform: uppercase
  text-shadow: -1px -2px 2px rgba(255,255,255,0.4)
  @include css3(box-shadow, inset 0 0 4px rgba(0,0,0,0.5))
  @include borderRadius(6px)
  @include css3(transition, background 200ms)
  
  &:hover
    @include css3(transition, opacity 450ms)
    @include background_gradient( darken($gray, $darkenAmount), $gray)
  
  &:active
    @include background_gradient( darken($gray, $darkenAmount+15%), $gray)

.photoTitle
  text-shadow: -1px -1px 8px black
  font-style: italic
  font-weight: bold
  font-size: 19px
  line-height: 1.2em

.tag
  margin-right: 4px

.ui-tooltip-content 
  padding: 8px
  width: 250px
  
  font-size: 14px
  @include borderRadius(3px)
  box-shadow: 0 2px 7px rgba(0,0,0,0.8)
  background: rgba(0,0,0,0.88) !important
  color: white !important
  border: 1px solid rgba(255,255,255,0.61) !important
  font-family: Futura, Helvetica, arial
  p
    line-height: 1.4em 
    margin: 8px 0
  
  a:link, a:visited
    color: $link
  a:hover
    color: complement($link)
  .authorName
    &:link, &:visited
      color: darken($link, 15%)

    &:hover
      color: complement($link)

.tags
  border-top: 1px solid $nearBlack
  padding-top: 18px

.date
  color: #aaa

.flickrTip
  background: $nearBlack
  border-color: lighten($nearBlack, 10%)
  box-shadow: 0 3px 17px rgba(0, 0, 0, 0.7)
  
  span
    padding: 20px 7px
    display: inline-block

.statickContainer
  position: absolute
  top: 0 
  left: 0
  z-index: 10
  pointer-events: none

.relative
  position: relative  

#loader
  background: black
  background: rgba(0,0,0,0.5)
  width: 76px
  height: 76px
  position: absolute
  opacity: 0
  img
    position: relative
    margin: 0 auto

#searchArea
  $searchBackground: #282828
  position: absolute
  right: $standardSpacing
  
  input
    width: 120px
    padding: 5px 7px
    background: $searchBackground
    border: 1px solid #525252
    color: #eee

    @include borderRadius(2px)
    &:hover
      background: lighten($searchBackground, 4%)
      @include css3(transition, background 260ms)

    &:focus
      width: 200px
      outline: 4px auto $link
      &::-webkit-input-placeholder 
        color: rgba(255,255,255,0.3)
      
      &:-moz-placeholder 
        color: rgba(255,255,255,0.3)
      
      @include css3(transition, width 300ms)

#tagLimit, #noTagsFound
  @extend .headerText
  display: none
  width: 65%
  margin: 86px auto 40px
  text-align: center
  padding: 14px 18px
  font-size: 18px
  line-height: 1.3em
  
  p, ul
    text-align: left
  
  p
    font-size: 86%
    word-spacing: 0px
  
  h3, h4
    margin-bottom: 50px

#tagLimit
  p
    text-align: center
    margin: 0

#backToMine
  display: none
  position: relative
  float: left
  font-size: 14px
  top: 8px
  left: 10px
  word-spacing: 0
  &:hover
    cursor: pointer
      
.suggestionTags
  list-style: none
  line-height: 1.8em
  
  .suggestionTag
    float: left
    margin-right: 15px

    &:after
      content: ' | '

    &:last-child:after
      content: none
        
    &:hover
      cursor: pointer
      color: #fcfcfc

.ppt
  text-align: center
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1)
  font-size: 19px  

#seeSimilarTags
  .title
    margin-top: 46px
    margin-bottom: -9px
    text-align: left
    font-weight: normal
  
  .suggestionTag
    color: $link
    
.addToFavorites
  display: none
